body{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: italic;
    color: #e914e9e1;
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    }
.container form {
    background-color: rgba(13, 238, 193, 0.986);
    width: 100%;
    padding: 20px;
}
.container label {
    display: inline-block;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
}
.container input {
    background-color: #f3f3f3;
    width: 75%;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border-radius: 11px;
}
.submitbtn {
    width: 30%;
    margin: 1%;
    border: #fff;
    background: #d30de6;
    border-radius: 25px;
    height: 45px;
    color: #1b77f0fb;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}